# Used Cars Price Prediction

Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,d2_absolute_error_score
import seaborn as sns

In [20]:
df=pd.read_csv('cardekho_dataset.csv')
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df=df.drop('Unnamed: 0',axis=1)
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [5]:
df=df.drop(['car_name','model'],axis=1)
df

,brand,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,Maruti,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,Skoda,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,Mahindra,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,Honda,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [6]:
df['brand'].unique()

array(['Maruti', 'Hyundai', 'Ford', 'Renault', 'Mini', 'Mercedes-Benz',
       'Toyota', 'Volkswagen', 'Honda', 'Mahindra', 'Datsun', 'Tata',
       'Kia', 'BMW', 'Audi', 'Land Rover', 'Jaguar', 'MG', 'Isuzu',
       'Porsche', 'Skoda', 'Volvo', 'Lexus', 'Jeep', 'Maserati',
       'Bentley', 'Nissan', 'ISUZU', 'Ferrari', 'Mercedes-AMG',
       'Rolls-Royce', 'Force'], dtype=object)

In [7]:
df['brand']=df['brand'].str.lower()
df['brand'].unique()

array(['maruti', 'hyundai', 'ford', 'renault', 'mini', 'mercedes-benz',
       'toyota', 'volkswagen', 'honda', 'mahindra', 'datsun', 'tata',
       'kia', 'bmw', 'audi', 'land rover', 'jaguar', 'mg', 'isuzu',
       'porsche', 'skoda', 'volvo', 'lexus', 'jeep', 'maserati',
       'bentley', 'nissan', 'ferrari', 'mercedes-amg', 'rolls-royce',
       'force'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

df['brand_encoded'] = label_encoder.fit_transform(df['brand'])

brand_mapping=dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print(brand_mapping)

{'audi': 0, 'bentley': 1, 'bmw': 2, 'datsun': 3, 'ferrari': 4, 'force': 5, 'ford': 6, 'honda': 7, 'hyundai': 8, 'isuzu': 9, 'jaguar': 10, 'jeep': 11, 'kia': 12, 'land rover': 13, 'lexus': 14, 'mahindra': 15, 'maruti': 16, 'maserati': 17, 'mercedes-amg': 18, 'mercedes-benz': 19, 'mg': 20, 'mini': 21, 'nissan': 22, 'porsche': 23, 'renault': 24, 'rolls-royce': 25, 'skoda': 26, 'tata': 27, 'toyota': 28, 'volkswagen': 29, 'volvo': 30}

In [9]:
df=df.drop('brand',axis=1)
df

,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price,brand_encoded
0,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000,16
1,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000,8
2,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000,8
3,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000,16
4,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000,6
...,...,...,...,...,...,...,...,...,...,...,...
15406,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000,8
15407,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000,16
15408,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000,26
15409,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000,15
15410,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000,7

In [10]:
df['fuel_type_encoded'] = label_encoder.fit_transform(df['fuel_type'])
fuel_mapping=dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print(fuel_mapping)

{'CNG': 0, 'Diesel': 1, 'Electric': 2, 'LPG': 3, 'Petrol': 4}

In [11]:
df=df.drop('fuel_type',axis=1)
df

,vehicle_age,km_driven,seller_type,transmission_type,mileage,engine,max_power,seats,selling_price,brand_encoded,fuel_type_encoded
0,9,120000,Individual,Manual,19.70,796,46.30,5,120000,16,4
1,5,20000,Individual,Manual,18.90,1197,82.00,5,550000,8,4
2,11,60000,Individual,Manual,17.00,1197,80.00,5,215000,8,4
3,9,37000,Individual,Manual,20.92,998,67.10,5,226000,16,4
4,6,30000,Dealer,Manual,22.77,1498,98.59,5,570000,6,1
...,...,...,...,...,...,...,...,...,...,...,...
15406,9,10723,Dealer,Manual,19.81,1086,68.05,5,250000,8,4
15407,2,18000,Dealer,Manual,17.50,1373,91.10,7,925000,16,4
15408,6,67000,Dealer,Manual,21.14,1498,103.52,5,425000,26,1
15409,5,3800000,Dealer,Manual,16.00,2179,140.00,7,1225000,15,1
15410,2,13000,Dealer,Automatic,18.00,1497,117.60,5,1200000,7,4

In [12]:
df['seller_type_encoded'] = label_encoder.fit_transform(df['seller_type'])
seller_mapping=dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print(seller_mapping)

{'Dealer': 0, 'Individual': 1, 'Trustmark Dealer': 2}

In [13]:
df=df.drop('seller_type',axis=1)
df

,vehicle_age,km_driven,transmission_type,mileage,engine,max_power,seats,selling_price,brand_encoded,fuel_type_encoded,seller_type_encoded
0,9,120000,Manual,19.70,796,46.30,5,120000,16,4,1
1,5,20000,Manual,18.90,1197,82.00,5,550000,8,4,1
2,11,60000,Manual,17.00,1197,80.00,5,215000,8,4,1
3,9,37000,Manual,20.92,998,67.10,5,226000,16,4,1
4,6,30000,Manual,22.77,1498,98.59,5,570000,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...
15406,9,10723,Manual,19.81,1086,68.05,5,250000,8,4,0
15407,2,18000,Manual,17.50,1373,91.10,7,925000,16,4,0
15408,6,67000,Manual,21.14,1498,103.52,5,425000,26,1,0
15409,5,3800000,Manual,16.00,2179,140.00,7,1225000,15,1,0
15410,2,13000,Automatic,18.00,1497,117.60,5,1200000,7,4,0

In [14]:
df['transmission_type_encoded'] = label_encoder.fit_transform(df['transmission_type'])
transmission_mapping=dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print(transmission_mapping)

{'Automatic': 0, 'Manual': 1}

In [15]:
df=df.drop('transmission_type',axis=1)
df

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price,brand_encoded,fuel_type_encoded,seller_type_encoded,transmission_type_encoded
0,9,120000,19.70,796,46.30,5,120000,16,4,1,1
1,5,20000,18.90,1197,82.00,5,550000,8,4,1,1
2,11,60000,17.00,1197,80.00,5,215000,8,4,1,1
3,9,37000,20.92,998,67.10,5,226000,16,4,1,1
4,6,30000,22.77,1498,98.59,5,570000,6,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
15406,9,10723,19.81,1086,68.05,5,250000,8,4,0,1
15407,2,18000,17.50,1373,91.10,7,925000,16,4,0,1
15408,6,67000,21.14,1498,103.52,5,425000,26,1,0,1
15409,5,3800000,16.00,2179,140.00,7,1225000,15,1,0,1
15410,2,13000,18.00,1497,117.60,5,1200000,7,4,0,0

In [16]:
df.isnull().sum()

vehicle_age                  0
km_driven                    0
mileage                      0
engine                       0
max_power                    0
seats                        0
selling_price                0
brand_encoded                0
fuel_type_encoded            0
seller_type_encoded          0
transmission_type_encoded    0
dtype: int64

X Data||Y Data

In [17]:
X=df.drop('selling_price',axis=1)
Y=df['selling_price']

print(X.shape,Y.shape,sep='\n')

(15411, 10)
(15411,)

In [18]:
x_train,x_test,y_train,y_test=train_test_split(X,k,test_size=0.3,random_state=1)

NameError: name 'k' is not defined

In [ ]:
x_train.shape

(10787, 10)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
MLR=LinearRegression()

In [ ]:
MLR.fit(x_train,y_train)

LinearRegression()

In [ ]:
ypred=MLR.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
mean_squared_error(y_test,ypred)

0.0645382229531625

In [ ]:
r2_score(y_test,ypred)

0.8638220423805683

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
RF=RandomForestRegressor()

In [ ]:
RF.fit(x_train,y_train)

RandomForestRegressor()

In [ ]:
ypred=RF.predict(x_test)

In [ ]:
mean_squared_error(y_test,ypred)

0.0341362790131209

In [ ]:
r2_score(y_test,ypred)

0.9279712309384854

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(y_test,ypred)

0.13438847980457166

In [ ]:
df.selling_price.min()

40000

In [ ]:
k=np.log(Y+1)
print(k,Y,sep='     ')

0        11.695255
1        13.217675
2        12.278398
3        12.328295
4        13.253393
           ...
15406    12.429220
15407    13.737550
15408    12.959847
15409    14.018452
15410    13.997833
Name: selling_price, Length: 15411, dtype: float64     0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [ ]:
comp=pd.DataFrame({'actual':np.exp(y_test)+1,'pred':np.exp(ypred)+1})
comp

          actual          pred
2262    675002.0  6.355001e+05
6662    330002.0  3.137712e+05
7622    270002.0  3.824600e+05
5299    950002.0  9.970508e+05
2141    360002.0  3.836038e+05
...          ...           ...
11322  1570002.0  1.183524e+06
2038   1600002.0  1.701576e+06
2921    650002.0  6.572619e+05
437    1150002.0  1.266293e+06
5499   1150002.0  1.066380e+06

[4624 rows x 2 columns]

In [21]:
# Basic information
print("\nDataset Overview:")
print(df.info())

    # Summary statistics
print("\nSummary Statistics:")
print(df.describe(include='all'))

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

        # Check for duplicates
print("\nNumber of Duplicate Rows:")
print(df.duplicated().sum())

        # Display sample rows
print("\nSample Rows:")
print(df.head())

        # Check data types
("\nData Types of Columns:")
print(df.dtypes)

        # Class distribution (if applicable)
target_column = input("\nIf this is a supervised learning task, enter the target column name (or press Enter to skip): ")
if target_column and target_column in df.columns:
    print("\nTarget Variable Distribution:")
    print(df[target_column].value_counts())

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB
None

Summary Statistics:
          Unnamed: 0     car_name   brand  model   vehicle_age     km_driven  \
count   15411.000000        15411   15411  15411  15411.000000  1.541100e+04
unique           NaN          121      32    120           NaN           NaN
top              NaN  Hyundai i20  Maruti    i20           NaN           NaN
freq             NaN          906    4992    906           NaN           NaN
mean     9811.857699          NaN     NaN    NaN      6.036338  5.561648e+04
std      5643.418542          NaN     NaN    NaN      3.013291  5.161855e+04
min         0.000000          NaN     NaN    NaN      0.000000  1.000000e+02
25%      4906.500000          NaN     NaN    NaN      4.000000  3.000000e+04
50%      9872.000000          NaN     NaN    NaN      6.000000  5.000000e+04
75%     14668.500000          NaN     NaN    NaN      8.000000  7.000000e+04
max     19543.000000          NaN     NaN    NaN     29.000000  3.800000e+06

       seller_type fuel_type transmission_type       mileage        engine  \
count        15411     15411             15411  15411.000000  15411.000000
unique           3         5                 2           NaN           NaN
top         Dealer    Petrol            Manual           NaN           NaN
freq          9539      7643             12225           NaN           NaN
mean           NaN       NaN               NaN     19.701151   1486.057751
std            NaN       NaN               NaN      4.171265    521.106696
min            NaN       NaN               NaN      4.000000    793.000000
25%            NaN       NaN               NaN     17.000000   1197.000000
50%            NaN       NaN               NaN     19.670000   1248.000000
75%            NaN       NaN               NaN     22.700000   1582.000000
max            NaN       NaN               NaN     33.540000   6592.000000

           max_power         seats  selling_price
count   15411.000000  15411.000000   1.541100e+04
unique           NaN           NaN            NaN
top              NaN           NaN            NaN
freq             NaN           NaN            NaN
mean      100.588254      5.325482   7.749711e+05
std        42.972979      0.807628   8.941284e+05
min        38.400000      0.000000   4.000000e+04
25%        74.000000      5.000000   3.850000e+05
50%        88.500000      5.000000   5.560000e+05
75%       117.300000      5.000000   8.250000e+05
max       626.000000      9.000000   3.950000e+07

Missing Values:
Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

Number of Duplicate Rows:
0

Sample Rows:
   Unnamed: 0       car_name    brand     model  vehicle_age  km_driven  \
0           0    Maruti Alto   Maruti      Alto            9     120000
1           1  Hyundai Grand  Hyundai     Grand            5      20000
2           2    Hyundai i20  Hyundai       i20           11      60000
3           3    Maruti Alto   Maruti      Alto            9      37000
4           4  Ford Ecosport     Ford  Ecosport            6      30000

  seller_type fuel_type transmission_type  mileage  engine  max_power  seats  \
0  Individual    Petrol            Manual    19.70     796      46.30      5
1  Individual    Petrol            Manual    18.90    1197      82.00      5
2  Individual    Petrol            Manual    17.00    1197      80.00      5
3  Individual    Petrol            Manual    20.92     998      67.10      5
4      Dealer    Diesel            Manual    22.77    1498      98.59      5

   selling_price
0         120000
1         550000
2         215000
3         226000
4         570000
Unnamed: 0             int64
car_name              object
brand                 object
model                 object
vehicle_age            int64
km_driven              int64
seller_type           object
fuel_type             object
transmission_type     object
mileage              float64
engine                 int64
max_power            float64
seats                  int64
selling_price          int64
dtype: object

Target Variable Distribution:
selling_price
450000     357
550000     334
650000     330
350000     320
500000     271
          ...
117000       1
1064000      1
1472000      1
326000       1
456000       1
Name: count, Length: 1086, dtype: int64